@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Hammersmith One";
    src: url("../../public/fonts/HammersmithOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../../public/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("../../public/fonts/Roboto-Condensed/Roboto_Condensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("../../public/fonts/Roboto-Condensed/Roboto_Condensed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed Italic";
    src: url("../../public/fonts/Roboto-Condensed/Roboto_Condensed-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Condensed Bold Italic";
    src: url("../../public/fonts/Roboto-Condensed/Roboto_Condensed-BoldItalic.ttf") format("truetype");
}

body {
    font-family: 'Roboto', sans-serif;
}

.text-one {
    font-size: 100px;
}
.text-two {
    font-size: 70px;
}
.text-three {
    font-size: 50px;
}
.text-four{
    font-size: 20px;
}
.text-five{
    font-size: 42px;
}
/* Fade-in animation for FCT Nexus */
.fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Slide-in from left for the 'Acceso a Plataforma' div */
.animate-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 1s forwards;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Slide-in from right for the 'Acceso al Registro' div */
.animate-right {
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 1s forwards;
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.animate-left2 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 1.5s forwards;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}